<footer class="text-center" style="background: #089c7c">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto footer-section footer-section-left">
                <h5 class="text-uppercase text-white text-start">LINKS DE AYUDA</h5>
                <br>
                <ul class="list-unstyled mb-0 text-start">
                    <li><a href="https://utt.edu.mx/" class="footer-link text-white">Inicio</a></li>
                    <li><a href="https://mail.google.com/a/utt.edu.mx" target="_blank" class="footer-link text-white">Correo UTT</a></li>
                    <li><a href="https://utt.edu.mx/admisiones.php" class="footer-link text-white">Admisión</a></li>
                    <li><a href="https://utt.edu.mx/becas.php" class="footer-link text-white">Becas</a></li>
                    <li><a href="https://utt.edu.mx/req_tit.php" class="footer-link text-white">Requisitos de titulación</a></li>
                    <li><a href="https://uttorreon.mx/" target="_blank" class="footer-link text-white">SIAAUTT web</a></li>
                    <li><a href="https://utt.edu.mx/Transparencia.php" class="footer-link text-white">Transparencia</a></li>
                </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12 footer-section">
              <!-- Email input -->
              <div class="footer-logo-container">
                    <img src="./assets/images/UTT_logo.png" alt="">
                </div>
                <ul class="list-unstyled mb-0 d-flex gap-4 justify-content-center align-items-center">
                    <li>
                      <a href="https://www.facebook.com/UTToficial" target="_blank" class="text-white text-decoration-none"><i class="fa-brands fa-facebook social-icon"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/uttorreon?fbclid=IwZXh0bgNhZW0CMTAAAR3UAawNzvBwt8wlGqBqvMaGsYxf6Et7jtcWCb4PkZFgg7m_XHDCbXNbiJc_aem_gcCG3eH9VcVgO08TcNaq_w" target="_blank" class="text-white text-decoration-none"><i class="fa-brands fa-instagram social-icon"></i></a>
                    </li>
                    <li>
                      <a href="https://www.tiktok.com/@uttorreon" target="_blank" class="text-white text-decoration-none"><i class="fa-brands fa-tiktok social-icon"></i></a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/@universidadtecnologicadeto5981" target="_blank" class="text-white text-decoration-none"><i class="fa-brands fa-youtube social-icon"></i></a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto footer-location footer-section footer-section-right">
              <h5 class="text-uppercase text-white mb-0 text-end">UBICACIÓN</h5>
              <br>
              <ul class="list-unstyled mb-0">
                <li class="text-white">
                  <a style="text-decoration:none; color:#fff;" target="_blank" href="https://www.google.com.mx/maps/place/Universidad+Tecnol%C3%B3gica+de+Torre%C3%B3n/@25.5325673,-103.3242556,17z/data=!3m1!4b1!4m6!3m5!1s0x868fc48455d823cb:0xc18fad7b464487e4!8m2!3d25.5325625!4d-103.3216807!16s%2Fg%2F11_rjr8jd?entry=ttu" >
                    Universidad Tecnológica de Torreón, Carretera <br>
                  📍 Torreón-Matamoros Km. 10 Ejido El Águila, <br>
                  Municipio de Torreón, Coah.
                  </a>
                </li>
                <br>
                <li class="text-white">
                  📞 Teléfono conmutador: <a href="tel:+528717297400" class="text-decoration-none text-white">871 729 7400</a>
                </li>
            </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->

    <div class="text-center pt-3 justify-content-end align-items-end d-flex">
      <a target="_blank" href="https://uttorreon.mx/generarficha" class="btn mb-0 text-uppercase text-white fw-bold btn-generate" style="background: #8A2D40;">
        Genera tu ficha
      </a>
    </div>

  </footer>  

  <!-- Bootstrap + script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="script.js"></script>
</body>
</html>